# Question:1

### Here is what happens in every executed statement:

- a = 0: The value 0 is given to the declared variable a.
- B is a declared function (def b()).
- global a: this line declares that a variable inside the function b refers to the global variable a defined outside the function.
- With the parameter a, the c function is called (which has a global value of 0). Then, its is given the return value of c(a), which is 2.
-  def c(a): c is a defined function

### Now, after importing the module into the interpreter, the following sequence of events occurs:

- b(): By invoking the b function, the global variable a's value is changed from 0 to 2. 
- b(): b is called once again, changing the value of the global variable a from 2 to 4 as a result.
- b(): The b function is invoked once again, changing the global variable a's value from 4 to 6.
- a: When the final expression aÂ is applied to the global variable a, it returns its current value, which is 6.

# Question:2

In [12]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        return len(content)
    except FileNotFoundError:
        print(f"\nFile {filename} not found.")
        
#Entered First file which is not valid        
        
file=input("Enter the name of a File: ")

#Entered second file which is valid

file2=input("Enter the name of a File: ")

fileLength(file)
fileLength(file2)

Enter the name of a File: urvish
Enter the name of a File: bloodtype.txt

File urvish not found.

101

# Question:3

In [14]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, item):
        self.pouch.append(item)
        
    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
    
    
    
# Create a Kangaroo object at (0, 0)
k = Kangaroo(0, 0)

# Add items to the Kangaroo's pouch
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')

# Print the contents of the Kangaroo's pouch
print(k.pouch_contents())

# Move the Kangaroo
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)

# Print the Kangaroo's location
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question:4

In [27]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
        
#Entered two different numbers to check whether it is working or not.        

num= int(input("Enter a Number: "))
num2= int(input("Enter a Number: "))

print(f"\nCollatz for {num} is: ")
collatz(num)

print(f"\nCollatz for {num2} is: ")
collatz(num2)

Enter a Number: 10
Enter a Number: 5

Collatz for 10 is:
10
5
16
8
4
2
1

Collatz for 5 is:
5
16
8
4
2
1

# Question:5

In [30]:
def binary(n):
    if n == 0:
        print('0', end='')
    elif n == 1:
        print('1', end='')
    else:
        binary(n // 2)
        print(n % 2, end='')
        
number=int(input("Enter a Number: "))
binary(number)

Enter a Number: 15
1111

# Question:6

In [10]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self._headings = []
        self._level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2:
            self._level = int(tag[1])

    def handle_data(self, data):
        if self._level:
            self._headings.append((self._level, data.strip()))

    def handle_endtag(self, tag):
        if tag.startswith('h') and len(tag) == 2:
            self._level = 0

    def print_headings(self):
        for level, heading in self._headings:
            print(' ' * level + heading)

# Example usage
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)
hp.print_headings()

 W3C Mission
  Principles

# Question:7

In [38]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Collector(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []


    def append(self):
        
        return self.url_links




    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http': 
                self.url_links.append(ab)
i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = Appender(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4


    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)



webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question:8

In [32]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_data.db')
c = conn.cursor()

# Create the table
c.execute('''CREATE TABLE weather_data
             (City text, Country text, Season text, Temperature real, Rainfall real)''')

# Insert the data
c.execute("INSERT INTO weather_data VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
c.execute("INSERT INTO weather_data VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
c.execute("INSERT INTO weather_data VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
c.execute("INSERT INTO weather_data VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
c.execute("INSERT INTO weather_data VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
c.execute("INSERT INTO weather_data VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
c.execute("INSERT INTO weather_data VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
c.execute("INSERT INTO weather_data VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
c.execute("INSERT INTO weather_data VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
c.execute("INSERT INTO weather_data VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
c.execute("INSERT INTO weather_data VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
c.execute("INSERT INTO weather_data VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# Save the changes
conn.commit()

# Query the data
# a) All the temperature data.
c.execute("SELECT Temperature FROM weather_data")
print("a) All temperature data:\n")
print(c.fetchall())

# b) All the cities, but without repetition.
c.execute("SELECT DISTINCT City FROM weather_data")
print("\n\nb) All cities without repetition:\n")
print(c.fetchall())

# c) All the records for India.
c.execute("SELECT * FROM weather_data WHERE Country='India'")
print("\n\nc) All records for India:\n")
print(c.fetchall())

# d) All the Fall records.
c.execute("SELECT * FROM weather_data WHERE Season='Fall'")
print("\n\nd) All Fall records:\n")
print(c.fetchall())

# e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
c.execute("SELECT City, Country, Season FROM weather_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400")
print("\n\ne) City, Country, and Season for which the average rainfall is between 200 and 400 millimeters:\n")
print(c.fetchall())

# f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
c.execute("SELECT City, Country FROM weather_data WHERE Season='Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature)")
print("\n\nf) City and Country for which the average Fall temperature is above 20 degrees, in increasing temperature order:\n")
print(c.fetchone())

# Query g) The total annual rainfall for Cairo.
c.execute('SELECT SUM(Rainfall) FROM weather_data WHERE City="Cairo"')
print("\n\ng) The total annual rainfall for Cairo:\n")
print(c.fetchone()[0])

# Query h) The total rainfall for each season.
c.execute('SELECT Season, SUM(Rainfall) FROM weather_data GROUP BY Season')
print("\n\nh) The total rainfall for each season:\n")

print(c.fetchall())

# Close the cursor and the connection
c.close()
conn.close()

a) All temperature data:

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]


b) All cities without repetition:

[('Mumbai',), ('London',), ('Cairo',)]


c) All records for India:

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]


d) All Fall records:

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]


e) City, Country, and Season for which the average rainfall is between 200 and 400 millimeters:

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]


f) City and Country for which the average Fall temperature is above 20 degrees, in increasing temperature order:

('Cairo', 'Egypt')


g) The total annual rainfall for Cairo:

27.6


h) The total rainfall for each season:

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

# Question:9

In [58]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


#a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']:

print("a)",[word.upper() for word in words])

#b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']:

print("\nb)",[word.lower() for word in words])

#c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in listwords):

print("\nc)",[len(word) for word in words])


#d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]:

print("\nd)",[[word.upper(), word.lower(), len(word)] for word in words])


#e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.):

print("\ne)",[word for word in words if len(word) >= 4])

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3]

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e) ['quick', 'brown', 'jumps', 'over', 'lazy']